@import "tailwindcss";

@theme inline {
  --color-background: #fafafa;
  --color-foreground: #18181b;
}

body {
  background-color: #fafafa;
  color: #18181b;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px #a1a1aa;
}
